extends _layout

block pageInit
  -
    entryPoint = 'verification';
    basePath = '..';
    pages = $pages;

block main
  p.lead.mb-4.
    As with other digital signature schemes, Ed25519 consists of three protocols: key generation,
    signing and verification. They are similar, but distinct, from the generic Schnorr scheme.

  #app
    div(slot='verification')
      h3#verification.mt-4
        | Verification
        |
        button.badge.btn.btn-primary(role='button', title='Copy from signing', style={ display: 'none' })
          i.bi.bi-clipboard

      p Verification uses the equation following from Schnorr and the modified signing procedure:
      +equation
        | [s]B == R + [H(R ‖ A ‖ M)]A.

      div.form-group
        label(for='publicKey') Public Key:
        input#publicKey.form-control(type='text')

    +loading
